<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    Options All -Indexes

	RewriteEngine on

	RewriteRule  ^$ public/    [L]
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule  (.*) public/$1 [L]
</IfModule>